
## Introduction.

- Here is the exercised I did while studying Pyspark.
- Also at the End of this notebook, I did my homework with Pyspark and Linear Regression model
    - given a data set 'tips.csv', I used linear regression and pyspark to predict a total bill  based on time, size, day and sex of the tiper

In [1]:
!pip install pyspark

Requirement already satisfied: pyspark in /opt/anaconda3/lib/python3.9/site-packages (3.3.1)
Requirement already satisfied: py4j==0.10.9.5 in /opt/anaconda3/lib/python3.9/site-packages (from pyspark) (0.10.9.5)

In [2]:
from pyspark.sql import SparkSession

In [3]:
import pyspark

In [4]:
from pyspark.sql import SparkSession

In [5]:
spark = SparkSession.builder.appName('Myfirst').getOrCreate()

Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).

22/12/02 08:31:46 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable

In [6]:
spark

In [7]:
readc = spark.read.csv('test1.csv')

In [8]:
readc

DataFrame[_c0: string, _c1: string, _c2: string, _c3: string]

In [9]:
readc.show()

+--------+----+----------+------+
|     _c0| _c1|       _c2|   _c3|
+--------+----+----------+------+
|    Name| age|Experience|Salary|
|Milkiyas|  24|         2| 10000|
|  Tolesa|  30|         8| 25000|
|    John|  29|         4| 20000|
|    Paul|  24|         3| 20000|
|  Eyyuel|  21|         1| 15000|
|    Abdi|  23|         2|  null|
|   Chris|  32|      null|  null|
|    Shar|null|      null|  null|
+--------+----+----------+------+

In [10]:
readc = spark.read.option('header', 'true').csv('test1.csv')

In [11]:
readc.show()

+--------+----+----------+------+
|    Name| age|Experience|Salary|
+--------+----+----------+------+
|Milkiyas|  24|         2| 10000|
|  Tolesa|  30|         8| 25000|
|    John|  29|         4| 20000|
|    Paul|  24|         3| 20000|
|  Eyyuel|  21|         1| 15000|
|    Abdi|  23|         2|  null|
|   Chris|  32|      null|  null|
|    Shar|null|      null|  null|
+--------+----+----------+------+

In [12]:
readc.printSchema()

root
 |-- Name: string (nullable = true)
 |-- age: string (nullable = true)
 |-- Experience: string (nullable = true)
 |-- Salary: string (nullable = true)

In [13]:
readc.head(4)

[Row(Name='Milkiyas', age='24', Experience='2', Salary='10000'),
 Row(Name='Tolesa', age='30', Experience='8', Salary='25000'),
 Row(Name='John', age='29', Experience='4', Salary='20000'),
 Row(Name='Paul', age='24', Experience='3', Salary='20000')]

In [14]:
readc.select('Name').show()

+--------+
|    Name|
+--------+
|Milkiyas|
|  Tolesa|
|    John|
|    Paul|
|  Eyyuel|
|    Abdi|
|   Chris|
|    Shar|
+--------+

In [15]:
readc.show()

+--------+----+----------+------+
|    Name| age|Experience|Salary|
+--------+----+----------+------+
|Milkiyas|  24|         2| 10000|
|  Tolesa|  30|         8| 25000|
|    John|  29|         4| 20000|
|    Paul|  24|         3| 20000|
|  Eyyuel|  21|         1| 15000|
|    Abdi|  23|         2|  null|
|   Chris|  32|      null|  null|
|    Shar|null|      null|  null|
+--------+----+----------+------+

In [16]:
readc.na.drop().show()

+--------+---+----------+------+
|    Name|age|Experience|Salary|
+--------+---+----------+------+
|Milkiyas| 24|         2| 10000|
|  Tolesa| 30|         8| 25000|
|    John| 29|         4| 20000|
|    Paul| 24|         3| 20000|
|  Eyyuel| 21|         1| 15000|
+--------+---+----------+------+

In [17]:
readc.show()

+--------+----+----------+------+
|    Name| age|Experience|Salary|
+--------+----+----------+------+
|Milkiyas|  24|         2| 10000|
|  Tolesa|  30|         8| 25000|
|    John|  29|         4| 20000|
|    Paul|  24|         3| 20000|
|  Eyyuel|  21|         1| 15000|
|    Abdi|  23|         2|  null|
|   Chris|  32|      null|  null|
|    Shar|null|      null|  null|
+--------+----+----------+------+

In [18]:
readc.na.fill('Missing Value').show()

+--------+-------------+-------------+-------------+
|    Name|          age|   Experience|       Salary|
+--------+-------------+-------------+-------------+
|Milkiyas|           24|            2|        10000|
|  Tolesa|           30|            8|        25000|
|    John|           29|            4|        20000|
|    Paul|           24|            3|        20000|
|  Eyyuel|           21|            1|        15000|
|    Abdi|           23|            2|Missing Value|
|   Chris|           32|Missing Value|Missing Value|
|    Shar|Missing Value|Missing Value|Missing Value|
+--------+-------------+-------------+-------------+

In [19]:
readc.dtypes

[('Name', 'string'),
 ('age', 'string'),
 ('Experience', 'string'),
 ('Salary', 'string')]

In [20]:
readc = readc.withColumn('Experience after two Years', readc['Experience']+2)

In [21]:
readc.show()

+--------+----+----------+------+--------------------------+
|    Name| age|Experience|Salary|Experience after two Years|
+--------+----+----------+------+--------------------------+
|Milkiyas|  24|         2| 10000|                       4.0|
|  Tolesa|  30|         8| 25000|                      10.0|
|    John|  29|         4| 20000|                       6.0|
|    Paul|  24|         3| 20000|                       5.0|
|  Eyyuel|  21|         1| 15000|                       3.0|
|    Abdi|  23|         2|  null|                       4.0|
|   Chris|  32|      null|  null|                      null|
|    Shar|null|      null|  null|                      null|
+--------+----+----------+------+--------------------------+

In [22]:
readc.na.drop(how="any", thresh=2).show()

+--------+---+----------+------+--------------------------+
|    Name|age|Experience|Salary|Experience after two Years|
+--------+---+----------+------+--------------------------+
|Milkiyas| 24|         2| 10000|                       4.0|
|  Tolesa| 30|         8| 25000|                      10.0|
|    John| 29|         4| 20000|                       6.0|
|    Paul| 24|         3| 20000|                       5.0|
|  Eyyuel| 21|         1| 15000|                       3.0|
|    Abdi| 23|         2|  null|                       4.0|
|   Chris| 32|      null|  null|                      null|
+--------+---+----------+------+--------------------------+

In [23]:
readc.na.drop(how="any",thresh=5).show()

+--------+---+----------+------+--------------------------+
|    Name|age|Experience|Salary|Experience after two Years|
+--------+---+----------+------+--------------------------+
|Milkiyas| 24|         2| 10000|                       4.0|
|  Tolesa| 30|         8| 25000|                      10.0|
|    John| 29|         4| 20000|                       6.0|
|    Paul| 24|         3| 20000|                       5.0|
|  Eyyuel| 21|         1| 15000|                       3.0|
+--------+---+----------+------+--------------------------+

In [24]:
from pyspark.sql.types import IntegerType,DoubleType

readc=readc.withColumn("age",readc.age.cast(IntegerType()))
readc=readc.withColumn("Experience",readc.Experience.cast(DoubleType()))
readc=readc.withColumn("Salary",readc.Salary.cast(DoubleType()))

In [25]:
from pyspark.ml.feature import Imputer

imputer = Imputer(
    inputCols=['age', 'Experience', 'Salary'], 
    outputCols=["{}_imputed".format(c) for c in ['age', 'Experience', 'Salary']]
    ).setStrategy("mean")

In [26]:
readc.dtypes

[('Name', 'string'),
 ('age', 'int'),
 ('Experience', 'double'),
 ('Salary', 'double'),
 ('Experience after two Years', 'double')]

In [27]:
readc.show()

+--------+----+----------+-------+--------------------------+
|    Name| age|Experience| Salary|Experience after two Years|
+--------+----+----------+-------+--------------------------+
|Milkiyas|  24|       2.0|10000.0|                       4.0|
|  Tolesa|  30|       8.0|25000.0|                      10.0|
|    John|  29|       4.0|20000.0|                       6.0|
|    Paul|  24|       3.0|20000.0|                       5.0|
|  Eyyuel|  21|       1.0|15000.0|                       3.0|
|    Abdi|  23|       2.0|   null|                       4.0|
|   Chris|  32|      null|   null|                      null|
|    Shar|null|      null|   null|                      null|
+--------+----+----------+-------+--------------------------+

In [28]:
imputer.fit(readc).transform(readc).show()

+--------+----+----------+-------+--------------------------+-----------+------------------+--------------+
|    Name| age|Experience| Salary|Experience after two Years|age_imputed|Experience_imputed|Salary_imputed|
+--------+----+----------+-------+--------------------------+-----------+------------------+--------------+
|Milkiyas|  24|       2.0|10000.0|                       4.0|         24|               2.0|       10000.0|
|  Tolesa|  30|       8.0|25000.0|                      10.0|         30|               8.0|       25000.0|
|    John|  29|       4.0|20000.0|                       6.0|         29|               4.0|       20000.0|
|    Paul|  24|       3.0|20000.0|                       5.0|         24|               3.0|       20000.0|
|  Eyyuel|  21|       1.0|15000.0|                       3.0|         21|               1.0|       15000.0|
|    Abdi|  23|       2.0|   null|                       4.0|         23|               2.0|       18000.0|
|   Chris|  32|      null|   null|                      null|         32|3.3333333333333335|       18000.0|
|    Shar|null|      null|   null|                      null|         26|3.3333333333333335|       18000.0|
+--------+----+----------+-------+--------------------------+-----------+------------------+--------------+

## Trying to work with Filter, Group and Aggregiate functions

In [29]:
readtest3=spark.read.csv('test3.csv',header=True,inferSchema=True)

In [30]:
readtest3.show()

+------+------------+------+
|  Name| Departments|salary|
+------+------------+------+
|  Abdi|Data Science| 10000|
|tolesa|         IOT|  5000|
|Duguma|    Big Data|  4000|
|  Dian|    Big Data|  4000|
| Helly|Data Science|  3000|
|Duguma|Data Science| 20000|
|Debelo|         IOT| 10000|
|tolesa|    Big Data|  5000|
|  Dian|Data Science| 10000|
|  Abdi|    Big Data|  2000|
+------+------------+------+

In [31]:
readtest3.filter("salary<=20000").select(['Name','Departments']).show()

+------+------------+
|  Name| Departments|
+------+------------+
|  Abdi|Data Science|
|tolesa|         IOT|
|Duguma|    Big Data|
|  Dian|    Big Data|
| Helly|Data Science|
|Duguma|Data Science|
|Debelo|         IOT|
|tolesa|    Big Data|
|  Dian|Data Science|
|  Abdi|    Big Data|
+------+------------+

In [32]:
readtest3.groupBy('Name').sum().show()

+------+-----------+
|  Name|sum(salary)|
+------+-----------+
|  Dian|      14000|
|  Abdi|      12000|
|tolesa|      10000|
|Duguma|      24000|
| Helly|       3000|
|Debelo|      10000|
+------+-----------+

In [33]:
readtest3.groupBy('Name').avg().show()

+------+-----------+
|  Name|avg(salary)|
+------+-----------+
|  Dian|     7000.0|
|  Abdi|     6000.0|
|tolesa|     5000.0|
|Duguma|    12000.0|
| Helly|     3000.0|
|Debelo|    10000.0|
+------+-----------+

In [34]:
readtest3.groupBy('Departments').count().show()

+------------+-----+
| Departments|count|
+------------+-----+
|         IOT|    2|
|    Big Data|    4|
|Data Science|    4|
+------------+-----+

In [35]:
readtest3.agg({'Salary':'sum'}).show()

+-----------+
|sum(Salary)|
+-----------+
|      73000|
+-----------+

## Here I Exercised Machine Learning using Spark

In [37]:
tobeTrained = spark.read.csv('tips.csv',header=True,inferSchema=True)

In [38]:
tobeTrained.show()

+----------+----+------+------+---+------+----+
|total_bill| tip|   sex|smoker|day|  time|size|
+----------+----+------+------+---+------+----+
|     16.99|1.01|Female|    No|Sun|Dinner|   2|
|     10.34|1.66|  Male|    No|Sun|Dinner|   3|
|     21.01| 3.5|  Male|    No|Sun|Dinner|   3|
|     23.68|3.31|  Male|    No|Sun|Dinner|   2|
|     24.59|3.61|Female|    No|Sun|Dinner|   4|
|     25.29|4.71|  Male|    No|Sun|Dinner|   4|
|      8.77| 2.0|  Male|    No|Sun|Dinner|   2|
|     26.88|3.12|  Male|    No|Sun|Dinner|   4|
|     15.04|1.96|  Male|    No|Sun|Dinner|   2|
|     14.78|3.23|  Male|    No|Sun|Dinner|   2|
|     10.27|1.71|  Male|    No|Sun|Dinner|   2|
|     35.26| 5.0|Female|    No|Sun|Dinner|   4|
|     15.42|1.57|  Male|    No|Sun|Dinner|   2|
|     18.43| 3.0|  Male|    No|Sun|Dinner|   4|
|     14.83|3.02|Female|    No|Sun|Dinner|   2|
|     21.58|3.92|  Male|    No|Sun|Dinner|   2|
|     10.33|1.67|Female|    No|Sun|Dinner|   3|
|     16.29|3.71|  Male|    No|Sun|Dinner|   3|
|     16.97| 3.5|Female|    No|Sun|Dinner|   3|
|     20.65|3.35|  Male|    No|Sat|Dinner|   3|
+----------+----+------+------+---+------+----+
only showing top 20 rows

In [39]:
tobeTrained.printSchema()

root
 |-- total_bill: double (nullable = true)
 |-- tip: double (nullable = true)
 |-- sex: string (nullable = true)
 |-- smoker: string (nullable = true)
 |-- day: string (nullable = true)
 |-- time: string (nullable = true)
 |-- size: integer (nullable = true)

In [40]:
tobeTrained.columns

['total_bill', 'tip', 'sex', 'smoker', 'day', 'time', 'size']

In [46]:
from pyspark.ml.feature import StringIndexer

indexer=StringIndexer(inputCols=["sex","smoker","day","time"],outputCols=["sex_indexed","smoker_indexed","day_indexed","time_index"])
df_r=indexer.fit(tobeTrained).transform(tobeTrained)
df_r.show()

+----------+----+------+------+---+------+----+-----------+--------------+-----------+----------+
|total_bill| tip|   sex|smoker|day|  time|size|sex_indexed|smoker_indexed|day_indexed|time_index|
+----------+----+------+------+---+------+----+-----------+--------------+-----------+----------+
|     16.99|1.01|Female|    No|Sun|Dinner|   2|        1.0|           0.0|        1.0|       0.0|
|     10.34|1.66|  Male|    No|Sun|Dinner|   3|        0.0|           0.0|        1.0|       0.0|
|     21.01| 3.5|  Male|    No|Sun|Dinner|   3|        0.0|           0.0|        1.0|       0.0|
|     23.68|3.31|  Male|    No|Sun|Dinner|   2|        0.0|           0.0|        1.0|       0.0|
|     24.59|3.61|Female|    No|Sun|Dinner|   4|        1.0|           0.0|        1.0|       0.0|
|     25.29|4.71|  Male|    No|Sun|Dinner|   4|        0.0|           0.0|        1.0|       0.0|
|      8.77| 2.0|  Male|    No|Sun|Dinner|   2|        0.0|           0.0|        1.0|       0.0|
|     26.88|3.12|  Male|    No|Sun|Dinner|   4|        0.0|           0.0|        1.0|       0.0|
|     15.04|1.96|  Male|    No|Sun|Dinner|   2|        0.0|           0.0|        1.0|       0.0|
|     14.78|3.23|  Male|    No|Sun|Dinner|   2|        0.0|           0.0|        1.0|       0.0|
|     10.27|1.71|  Male|    No|Sun|Dinner|   2|        0.0|           0.0|        1.0|       0.0|
|     35.26| 5.0|Female|    No|Sun|Dinner|   4|        1.0|           0.0|        1.0|       0.0|
|     15.42|1.57|  Male|    No|Sun|Dinner|   2|        0.0|           0.0|        1.0|       0.0|
|     18.43| 3.0|  Male|    No|Sun|Dinner|   4|        0.0|           0.0|        1.0|       0.0|
|     14.83|3.02|Female|    No|Sun|Dinner|   2|        1.0|           0.0|        1.0|       0.0|
|     21.58|3.92|  Male|    No|Sun|Dinner|   2|        0.0|           0.0|        1.0|       0.0|
|     10.33|1.67|Female|    No|Sun|Dinner|   3|        1.0|           0.0|        1.0|       0.0|
|     16.29|3.71|  Male|    No|Sun|Dinner|   3|        0.0|           0.0|        1.0|       0.0|
|     16.97| 3.5|Female|    No|Sun|Dinner|   3|        1.0|           0.0|        1.0|       0.0|
|     20.65|3.35|  Male|    No|Sat|Dinner|   3|        0.0|           0.0|        0.0|       0.0|
+----------+----+------+------+---+------+----+-----------+--------------+-----------+----------+
only showing top 20 rows

In [50]:
df_r.columns

['total_bill',
 'tip',
 'sex',
 'smoker',
 'day',
 'time',
 'size',
 'sex_indexed',
 'smoker_indexed',
 'day_indexed',
 'time_index']

In [51]:
from pyspark.ml.feature import VectorAssembler
featureassembler=VectorAssembler(inputCols=['tip','size','sex_indexed','smoker_indexed','day_indexed','time_index'],outputCol="Independent Features")
output=featureassembler.transform(df_r)

In [52]:
output.select('Independent Features').show()

+--------------------+
|Independent Features|
+--------------------+
|[1.01,2.0,1.0,0.0...|
|[1.66,3.0,0.0,0.0...|
|[3.5,3.0,0.0,0.0,...|
|[3.31,2.0,0.0,0.0...|
|[3.61,4.0,1.0,0.0...|
|[4.71,4.0,0.0,0.0...|
|[2.0,2.0,0.0,0.0,...|
|[3.12,4.0,0.0,0.0...|
|[1.96,2.0,0.0,0.0...|
|[3.23,2.0,0.0,0.0...|
|[1.71,2.0,0.0,0.0...|
|[5.0,4.0,1.0,0.0,...|
|[1.57,2.0,0.0,0.0...|
|[3.0,4.0,0.0,0.0,...|
|[3.02,2.0,1.0,0.0...|
|[3.92,2.0,0.0,0.0...|
|[1.67,3.0,1.0,0.0...|
|[3.71,3.0,0.0,0.0...|
|[3.5,3.0,1.0,0.0,...|
|(6,[0,1],[3.35,3.0])|
+--------------------+
only showing top 20 rows

In [53]:
output.show()

+----------+----+------+------+---+------+----+-----------+--------------+-----------+----------+--------------------+
|total_bill| tip|   sex|smoker|day|  time|size|sex_indexed|smoker_indexed|day_indexed|time_index|Independent Features|
+----------+----+------+------+---+------+----+-----------+--------------+-----------+----------+--------------------+
|     16.99|1.01|Female|    No|Sun|Dinner|   2|        1.0|           0.0|        1.0|       0.0|[1.01,2.0,1.0,0.0...|
|     10.34|1.66|  Male|    No|Sun|Dinner|   3|        0.0|           0.0|        1.0|       0.0|[1.66,3.0,0.0,0.0...|
|     21.01| 3.5|  Male|    No|Sun|Dinner|   3|        0.0|           0.0|        1.0|       0.0|[3.5,3.0,0.0,0.0,...|
|     23.68|3.31|  Male|    No|Sun|Dinner|   2|        0.0|           0.0|        1.0|       0.0|[3.31,2.0,0.0,0.0...|
|     24.59|3.61|Female|    No|Sun|Dinner|   4|        1.0|           0.0|        1.0|       0.0|[3.61,4.0,1.0,0.0...|
|     25.29|4.71|  Male|    No|Sun|Dinner|   4|        0.0|           0.0|        1.0|       0.0|[4.71,4.0,0.0,0.0...|
|      8.77| 2.0|  Male|    No|Sun|Dinner|   2|        0.0|           0.0|        1.0|       0.0|[2.0,2.0,0.0,0.0,...|
|     26.88|3.12|  Male|    No|Sun|Dinner|   4|        0.0|           0.0|        1.0|       0.0|[3.12,4.0,0.0,0.0...|
|     15.04|1.96|  Male|    No|Sun|Dinner|   2|        0.0|           0.0|        1.0|       0.0|[1.96,2.0,0.0,0.0...|
|     14.78|3.23|  Male|    No|Sun|Dinner|   2|        0.0|           0.0|        1.0|       0.0|[3.23,2.0,0.0,0.0...|
|     10.27|1.71|  Male|    No|Sun|Dinner|   2|        0.0|           0.0|        1.0|       0.0|[1.71,2.0,0.0,0.0...|
|     35.26| 5.0|Female|    No|Sun|Dinner|   4|        1.0|           0.0|        1.0|       0.0|[5.0,4.0,1.0,0.0,...|
|     15.42|1.57|  Male|    No|Sun|Dinner|   2|        0.0|           0.0|        1.0|       0.0|[1.57,2.0,0.0,0.0...|
|     18.43| 3.0|  Male|    No|Sun|Dinner|   4|        0.0|           0.0|        1.0|       0.0|[3.0,4.0,0.0,0.0,...|
|     14.83|3.02|Female|    No|Sun|Dinner|   2|        1.0|           0.0|        1.0|       0.0|[3.02,2.0,1.0,0.0...|
|     21.58|3.92|  Male|    No|Sun|Dinner|   2|        0.0|           0.0|        1.0|       0.0|[3.92,2.0,0.0,0.0...|
|     10.33|1.67|Female|    No|Sun|Dinner|   3|        1.0|           0.0|        1.0|       0.0|[1.67,3.0,1.0,0.0...|
|     16.29|3.71|  Male|    No|Sun|Dinner|   3|        0.0|           0.0|        1.0|       0.0|[3.71,3.0,0.0,0.0...|
|     16.97| 3.5|Female|    No|Sun|Dinner|   3|        1.0|           0.0|        1.0|       0.0|[3.5,3.0,1.0,0.0,...|
|     20.65|3.35|  Male|    No|Sat|Dinner|   3|        0.0|           0.0|        0.0|       0.0|(6,[0,1],[3.35,3.0])|
+----------+----+------+------+---+------+----+-----------+--------------+-----------+----------+--------------------+
only showing top 20 rows

In [54]:
finalized_data=output.select("Independent Features","total_bill")

In [55]:
finalized_data.show()

+--------------------+----------+
|Independent Features|total_bill|
+--------------------+----------+
|[1.01,2.0,1.0,0.0...|     16.99|
|[1.66,3.0,0.0,0.0...|     10.34|
|[3.5,3.0,0.0,0.0,...|     21.01|
|[3.31,2.0,0.0,0.0...|     23.68|
|[3.61,4.0,1.0,0.0...|     24.59|
|[4.71,4.0,0.0,0.0...|     25.29|
|[2.0,2.0,0.0,0.0,...|      8.77|
|[3.12,4.0,0.0,0.0...|     26.88|
|[1.96,2.0,0.0,0.0...|     15.04|
|[3.23,2.0,0.0,0.0...|     14.78|
|[1.71,2.0,0.0,0.0...|     10.27|
|[5.0,4.0,1.0,0.0,...|     35.26|
|[1.57,2.0,0.0,0.0...|     15.42|
|[3.0,4.0,0.0,0.0,...|     18.43|
|[3.02,2.0,1.0,0.0...|     14.83|
|[3.92,2.0,0.0,0.0...|     21.58|
|[1.67,3.0,1.0,0.0...|     10.33|
|[3.71,3.0,0.0,0.0...|     16.29|
|[3.5,3.0,1.0,0.0,...|     16.97|
|(6,[0,1],[3.35,3.0])|     20.65|
+--------------------+----------+
only showing top 20 rows

In [56]:
from pyspark.ml.regression import LinearRegression
train_data,test_data=finalized_data.randomSplit([0.75,0.25])

regressor=LinearRegression(featuresCol='Independent Features', labelCol='total_bill')
regressor=regressor.fit(train_data)

22/12/02 08:40:59 WARN Instrumentation: [97b50900] regParam is zero, which might cause numerical instability and overfitting.
22/12/02 08:40:59 WARN InstanceBuilder$JavaBLAS: Failed to load implementation from:dev.ludovic.netlib.blas.VectorBLAS
22/12/02 08:40:59 WARN InstanceBuilder$NativeBLAS: Failed to load implementation from:dev.ludovic.netlib.blas.JNIBLAS
22/12/02 08:40:59 WARN InstanceBuilder$NativeBLAS: Failed to load implementation from:dev.ludovic.netlib.blas.ForeignLinkerBLAS
22/12/02 08:40:59 WARN InstanceBuilder$NativeLAPACK: Failed to load implementation from:dev.ludovic.netlib.lapack.JNILAPACK

In [57]:
regressor.coefficients

DenseVector([3.4596, 3.3435, -0.9359, 2.8969, 0.4733, -2.2847])

In [58]:
regressor.intercept

0.1625775583194013

In [60]:
pred_results = regressor.evaluate(test_data)
pred_results.predictions.show()

+--------------------+----------+------------------+
|Independent Features|total_bill|        prediction|
+--------------------+----------+------------------+
|(6,[0,1],[1.25,2.0])|     10.51|11.174081252993432|
| (6,[0,1],[2.0,2.0])|     12.69|13.768766678250921|
|(6,[0,1],[2.01,2.0])|     20.23| 13.80336248392102|
| (6,[0,1],[2.5,4.0])|     18.35| 22.18558494766746|
|(6,[0,1],[3.18,2.0])|     19.82| 17.85107174732271|
|(6,[0,1],[3.27,2.0])|     17.78|18.162433998353606|
|(6,[0,1],[6.73,4.0])|     48.27| 36.81961074611971|
|[1.1,2.0,1.0,1.0,...|      12.9|12.616134588232269|
|[1.17,2.0,0.0,1.0...|     32.83|13.794196702611163|
|[1.36,3.0,1.0,0.0...|     18.64|12.624175690891562|
|[1.5,2.0,0.0,0.0,...|     19.08|10.700894452005384|
|[1.5,2.0,0.0,1.0,...|     11.59| 14.93585828972446|
|[1.63,2.0,1.0,0.0...|     11.87|10.214748451028486|
|[1.66,3.0,0.0,0.0...|     10.34|16.409317989436722|
|[1.8,2.0,1.0,0.0,...|     12.43|10.802877147420185|
|[2.0,2.0,0.0,0.0,...|     15.95|12.430684735510377|
|[2.0,2.0,0.0,1.0,...|     22.67|16.665648573229454|
|[2.0,2.0,0.0,1.0,...|     13.51|15.327566630488912|
|[2.0,2.0,1.0,0.0,...|     11.38|11.494793260822181|
|[2.0,2.0,1.0,1.0,...|     10.63|15.729757098541256|
+--------------------+----------+------------------+
only showing top 20 rows

In [61]:
pred_results.r2,pred_results.meanAbsoluteError,pred_results.meanSquaredError

(0.3770463555997354, 4.765959706534757, 43.016304038697136)